@{ 
    var isAuthenticated = User.Identity.IsAuthenticated;
    ICollection<string> accessibleResources = ViewBag.AccessibleResources;
    string s = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ProtectedWebsite</title>
    <base href="~/" />
</head>
<body class="blue">
    <ul>
        @if (accessibleResources.Contains("ProtectedWebsite/Home"))
        {
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
        }
        @if (accessibleResources.Contains("ProtectedWebsite/Home"))
        {
            <li>@Html.ActionLink("Authenticate", "Authenticate", "Home")</li>
        }
        @if (accessibleResources.Contains("ProtectedWebsite/Administrator/Index"))
        {
            <li>@Html.ActionLink("Administrator", "Index", "Administrator")</li>
        }
        @if (isAuthenticated)
        {
            <li>@Html.ActionLink("Disconnect", "Logout", "Home")</li>
        }
    </ul>
    @RenderBody()
</body>
</html>